$light: #EEF4F8;
$height: scale(72px);
$max-width: scale(1440px);

.header {
  margin: 0;
  height: $height;
  background-color: $light;

  &__menu {
    margin: 0 auto;
    max-width: $max-width;
    padding: scale(0 80px);
    height: inherit;
  }
}
